li {
  margin-left: 0.5rem;
}

.button {
  font-family: monospace;
  background: none;
  border: none;
}

.closed {
  &::before {
    content: '+ ';
    color: green;
    font-family: monospace;
    margin-left: -1rem;
  }

  &::after {
    content: '{...}';
    color: grey;
    font-family: monospace;
    margin-left: 0.5rem;
  }
}

.open::before {
  content: '- ';
  color: red;
  font-family: monospace;
  margin-left: -1rem;
}
