@import '../../../../style/mixins.scss';

.button {
  font-family: var(--fontFamilyCode);
  background: none;
  border: none;
}

.list {
  list-style: none;

  > li {
    margin-left: 0.5rem;
  }
}

.closed {
  &::before {
    @include collapsible-closed-before;
  }

  &::after {
    @include collapsible-closed-after;
    content: '{...}';
  }
}

.open::before {
  @include collapsible-open-before;
}
