.leaves {
  font-family: var(--fontFamilyCode);
  font-size: 0.875rem;
  list-style: none;
  margin-left: 0.5rem;
  padding: none;
}

.button {
  background: none;
  border: none;
  font-family: var(--fontFamilyCode);

  &:disabled {
    color: black;
  }
}

.closed {
  &::before {
    content: '+ ';
    color: var(--green);
    font-family: var(--fontFamilyCode);
    font-weight: bold;
    margin-left: -1rem;
  }

  &::after {
    content: '[...]';
    color: grey;
    font-family: var(--fontFamilyCode);
    margin-left: 0.5rem;
  }
}

.open::before {
  content: '- ';
  color: var(--red);
  font-family: var(--fontFamilyCode);
  font-weight: bold;
  margin-left: -1rem;
}
