@import '../../../style/mixins.scss';

.leaves {
  font-family: var(--fontFamilyCode);
  font-size: 0.875rem;
  list-style: none;
  margin-left: 0.5rem;
  padding: none;
}

.button {
  background: none;
  border: none;
  font-family: var(--fontFamilyCode);

  &:disabled {
    color: black;
  }
}

.closed {
  &::before {
    @include collapsible-closed-before;
  }

  &::after {
    @include collapsible-closed-after;
    content: '[...]';
  }
}

.open::before {
  @include collapsible-open-before;
}
