@import '../../style/mixins.scss';

.container {
  @include container-primary;

  display: flex;
}

.cards {
  @include content-view;

  display: grid;
  grid-template-columns: repeat(13, 100px);
  gap: 1rem;
}

.range {
  @include content-view;

  align-self: center;
}
