@import '../../style/breakpoints.scss';
@import '../../style/mixins.scss';

.container {
  @include container-primary;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 1rem 0;

  > a {
    border: 5px solid transparent;
    border-radius: 0.8rem;
    max-width: 300px;
    margin: 0 0 1rem;
    width: 100%;

    &:focus {
      border: 5px solid var(--green);
      outline: none;

      article {
        box-shadow: none;
        border-color: var(--green);
      }

      figcaption {
        display: flex;
      }

      img {
        opacity: 0.5;
      }

      strong {
        opacity: 0.2;
      }
    }
  }

  @include breakpoint(tablet) {
    flex-direction: row;
    margin-bottom: 1rem;

    > a {
      margin: 0 1rem;
    }
  }
}

.section {
  padding-top: 1rem;

  @include breakpoint(tablet) {
    padding-top: 1.5rem;
  }
}

.title {
  color: var(--violet);
  text-align: center;
}
