@mixin button-reset {
  background-color: transparent;
  border: none;
  color: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  text-align: unset;
}

@mixin collapsible-closed-before {
  content: '+ ';
  color: var(--green);
  font-family: var(--fontFamilyCode);
  font-weight: bold;
  margin-left: -1rem;
}

@mixin collapsible-closed-after {
  color: var(--greyDark);
  font-family: var(--fontFamilyCode);
  margin-left: 0.5rem;
}

@mixin collapsible-open-before {
  content: '- ';
  color: var(--red);
  font-family: var(--fontFamilyCode);
  font-weight: bold;
  margin-left: -1rem;
}

@mixin container-min-height {
  min-height: calc(100vh - (105px + 4rem));
}

@mixin container-primary {
  @include container-min-height;
  background-color: var(--white);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
}

@mixin content-view {
  margin-left: 1rem;
  padding-left: 1rem;
  width: 100%;
}
