body {
  background-color: var(--blue);
}

header {
  align-items: baseline;
  background-color: var(--violet);
  border-bottom: 5px solid var(--green);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

main {
  min-height: calc(100vh - (105px + 4rem));
}

.title {
  color: var(--white);
  padding: 1rem;
  filter: drop-shadow(3px 3px 0 var(--blue));
}
