.container {
  padding: 0 1rem;
}

.active {
  border-bottom: 2px solid var(--white);
}

.list {
  display: flex;
  list-style: none;

  > li {
    margin: 0.5rem;

    > a {
      color: var(--white);
      font-weight: normal;
      padding: 0.2rem 0.5rem;

      &:hover {
        background-color: var(--green);
        border-radius: 3px;
        color: var(--violet);
      }
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
