.container {
  padding: 0 1rem;
}

.list {
  display: flex;
  list-style: none;

  > li {
    margin: 0.5rem;

    > a {
      border: 2px solid transparent;
      border-radius: 3px;
      color: var(--white);
      font-weight: normal;
      padding: 0.2rem 0.5rem;

      &:focus {
        border-color: var(--white);
        outline: none;
      }

      &:hover {
        background-color: var(--green);
        color: var(--violet);
      }

      &.active {
        border-bottom: 2px solid var(--white);
      }
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
