.container {
  margin: 0 1rem;
}

.active {
  border-bottom: 2px solid var(--white);
}

.list {
  display: flex;
  margin: 0 1rem;
  list-style: none;

  > li {
    margin: 0.5rem;

    > a {
      color: var(--white);
      font-weight: normal;
    }

    &:first-of-type {
      margin-left: 0;
    }
  }
}
