.container {
  background-color: var(--grey);
  margin: -1rem;
  padding: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  > button:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}
