@import '../../style/mixins.scss';

.input {
  @include textarea-reset;

  font-family: var(--fontFamilyCode);
  height: calc(100% - 4.5rem);
  width: 100%;
}

.pane {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
}

.panes {
  @include container-min-height;

  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, calc(50% - 0.5rem));
  margin: 1rem;
}

.title {
  margin-bottom: 1rem;
}
